.galleryField__item--selected .galleryField__itemBtn,
.galleryField__item--selected .galleryField__itemCaption{
  background: #8dae28;
  color: white;
}
.galleryField__item--selected .galleryField__itemCaption{
  border-bottom-color: #8dae28;
}
.galleryField__item:hover .galleryField__itemBtn--single{
  color: #BBB;
}
.galleryField__item.page{
  background-color: #fff;
}
.galleryField__item--selected:hover .galleryField__itemBtn--single{
  color: white;
}
.galleryField__items{
  background-color: #DDD;
  padding: 10px 0 10px 10px;
}
.galleryField__empty{
  margin: 15px
}
.galleryField__items--select .galleryField__itemCaption{
  pointer-events: none;
}
.galleryField__imgContainer{
  width: 100%;
  padding-top: 100%;
  position: relative;
  background: #cacaca;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.galleryField__imgContainer .icon{
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 0;
}
.galleryField__imgContainer .icon:before{
  content: "";
  height: 100%;
  width: 0;
  margin-left:  -.25em;
  display: inline-block;
  vertical-align: middle;
}
.galleryField__control{
  clear: both;
  text-align: right;
  padding-right: 10px;
}
.galleryField__img{
  max-width:100%;
  max-height:100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
  box-shadow: 0 0 0 1px #e4e4e4;
}
.galleryField__item{
  position: relative;
  width: calc(50% - 10.1px);
  float: left;
  margin: 0 10px 10px 0;
}
.field-grid-item-1-2 .galleryField__item{
  width: calc(50% - 10.1px);
}
@media screen and (min-width: 960px) {
  .galleryField__item{
    width: calc(33.33% - 10.1px);
  }
  .field-grid-item-1-2 .galleryField__item{
    width: calc(100% - 10.1px);
  }
}
@media screen and (min-width: 1200px) {
  .galleryField__item{
    width: calc(25% - 10.1px);
  }
  .field-grid-item-1-2 .galleryField__item{
    width: calc(50% - 10.1px);
  }
}
@media screen and (min-width: 1680px) {
  .galleryField__item{
    width: calc(20% - 10.1px);
  }
  .field-grid-item-1-2 .galleryField__item{
    width: calc(33.33% - 10.1px);
  }
}
@media screen and (min-width: 1920px) {
  .galleryField__item{
    width: calc(16.664% - 10.1px);
  }
  .field-grid-item-1-2 .galleryField__item{
    width: calc(33.33% - 10.1px);
  }
}
@media screen and (min-width: 2300px) {
  .galleryField__item{
    width: calc(16.664% - 20.1px);
    margin: 0 20px 20px 0;
  }
  .field-grid-item-1-2 .galleryField__item{
    width: calc(33.33% - 20.1px);
  }
  .galleryField__control{
    padding-right: 20px;
  }
  .galleryField__items{
    padding: 20px 0 20px 20px;
  }
}
.galleryField__item:hover{
  box-shadow: 0 0 0 2px #ddd;
}
.galleryField__item--selected{
  box-shadow: 0 0 0 2px #8dae28;
}
.galleryField__item--selected:hover{
  box-shadow: 0 0 0 2px #8dae28;
}
.galleryField__itemCaption{
  padding: .5em;
  line-height: 1.5em;
}
.galleryField__itemControl{
  overflow: auto;
}
.galleryField__itemBtn{
  padding: .5em .2em;
  line-height: 1.5em;
  text-align: center;
  width: 50%;
  float: left;
  text-align: center;
  border-top: 1px solid #ddd;
}
.galleryField__itemBtn:first-child{
  border-right: 1px solid #ddd;
}
.galleryField__itemBtn--single{
  width: 100%;
  color: #DDD;
  cursor: auto;
}
.galleryField__itemBtn--single:first-child{
  border-right: none;
}
.galleryField__items--sort .galleryField__itemCaption,
.galleryField__items--sort .galleryField__imgContainer{
  cursor: move;
}


.fichier {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-top: 1em;
    line-height: 2.125em;
    font-size: 12px;
    font-size: .75rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .03em;
    text-decoration: none;
    background: #D8D4C8 none repeat scroll 0% 0%;
    color: #A5A39C;
}
.fichier.integre{ margin-top: 2em; margin-bottom: 1em; }
.fichier.petit{ font-size: 10px; font-size: .625rem; }
.fichier.moyen{ font-size: 16px; font-size: 1rem; }
.fichier.gros{ font-size: 40px; }
.fichier .titre-doc{
  width: 260px;
  font-size: 12px;
  font-size: .75rem;
  line-height: 1.2em;
  color: #888;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
    position: absolute;
    left: 4em;
    top: -1em;
    bottom: 0;
}
.fichier.petit .titre-doc{ left: 3.5em; }
.fichier.moyen .titre-doc{ left: 5em; }
.fichier.gros .titre-doc{ left: 6em; }
.fichier .titre-doc:before{
  content:"";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.fichier .titre-doc>span{
  display: inline-block;
  vertical-align: middle;
}
.fichier:before {
  content:"";
  position: absolute;
  background: inherit;
  top: -1em;
  left: 0;
  right: 1em;
  height: 1em;
}
.fichier:after{
  content: "";
  position: absolute;
  top: -1em;
  right: 0;
  border-style: solid;
  border-width: 0 1em 1em 0;
  height: 0;
  width: 0;
  display: block;
    border-color: #C1BDAE transparent;
}
.fichier .fichier-type{
  font-size: 20px;
}
.discret{
  opacity: .5;
}