@charset "UTF-8";
@import "partials/fonts";
@import "partials/animation";
@import "partials/variables";

/* Common layout tools and reusables
-------------------------------------------------- */
@import "partials/common";

/* Modal
-------------------------------------------------- */
@import "modules/modal";

/* Table
-------------------------------------------------- */
@import 'modules/navigation';


body{
	&.modal-open{
		overflow: hidden;
		> #header{
			filter: blur(15px);
		}
		> main.main{
			opacity: .8;
			filter: blur(60px);
		}
	}
	.modal .blurable.modal-open{
		opacity: .7;
		filter: blur(50px); 
	}
	.modal .blurable,
	> #header,
	> main.main{
		filter: blur(0px);
		//transition: filter .3s, opacity .2s;;
	}
	figure{
		img{
			display: block;
		}
	}
}
section.projects{
	text-align: center;
	article.project{
		display: inline-block;
		position: relative;
		a.link{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			opacity: 1;
			transition: opacity .2s;
			white-space: nowrap;
			background-color: #fff;
			&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				width: 0;
				margin-right: -0.5em;
			}
			.title{
				display: inline-block;
				white-space: initial;
				vertical-align: middle;
			}
		}
		&:hover{
			a.link{
				opacity: 0;
			}
		}
	}
}

.fadable{
	opacity: 1;
	transition: opacity .3s;
	&.faded{
		opacity: 0;
	} 	
}
html.no-cssfilters .modal, 
html:not(.cssfilters) .modal{
	background-color: rgba(255,255,255,.75);
}
