/*
 *
 * Common settings
 *
 * 1. General
 * 2. Login
 */

/* =======	1. General	======= */
.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 11;
	overflow: hidden;
	transform: translateZ(0);
	backface-visibility: hidden;
	.modal-content{
		border: none;
		border-radius: 0;
		display: block;
		overflow-y: auto;
		height: 100vh;
		h1, h2, h3{
			font-family: $font-serif;
			margin: 1rem 0 1.5rem;
		}
		h1{
			font-size: 3rem;
		}
		&.overview{
			padding: .5em;
		}
		figure.thumb{
			display: inline-block;
			max-width: 260px;
			vertical-align: middle;
			cursor: pointer;
			img{
				width: 100%;
				height: auto;
			}
		}
		article.thumb{
			display: inline-block;
			vertical-align: middle;
			max-width: 180px;
			background: #fff;
			cursor: pointer;
			font-size: 0.8rem;
			line-height: 1.3em;
			padding: 0.75rem;
			overflow: hidden;
			height: 250px;
			box-shadow: 0 0 3px rgba(0,0,0,.5);	
		}
	}
	.swiper-container{
		height: 100%;
		figure.swiper-slide {
			cursor: pointer;
			img, 
			iframe {
				max-height: 90%;
				max-width: 90%;
				max-height: calc(100% - 60px);
				max-width: calc(100% - 60px);
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				margin: auto;
			}
		}
		article.swiper-slide{
			.article-wrapper{
				overflow-y: auto;
				height: 100%;
				.article-content{
					padding: 3rem;
					max-width: 55rem;
					margin: 2rem auto;
					background: #fff;

					@media screen and (max-width: $break-medium){
						padding: 1rem;
					}

				}
			}
		}
	}
	.cross{
		z-index: 9;
		opacity: .5;
		margin: 6px;
	}
	.header,
	.pagination,
	.caption {
		z-index: 9;
		position: absolute;
		padding: 1rem 1.2rem;
		line-height: 1.2em;
		font-family: $font-serif;
		font-size: 1.8rem;
	}
	.header{
		top:0;
		left:0;
		h2{
			font-size: inherit;
		}
	}
	.pagination{
		bottom: 0;
		right: 0;
		left: auto;
		width: auto;
		margin-left: auto;
		padding-left: 1.2rem;
	}
	.caption{
		bottom: 0;
		left: 0;
		max-width: calc(100% - 4em)
	}
	

	/*
	@supports ( mix-blend-mode: screen ) {
		.pagination, .cross{
			color: #fff;
			mix-blend-mode: difference;
		}
	}
	*/

}
