#header{
	position: relative;
	z-index: 10;
	width: 100%;
	margin-top: 0;
	text-align: center;
	vertical-align: top;
	display: flex;

	position: fixed;
	bottom: 0;
	color: #faa800;
	color: #ff7d00;
	color: #ffc000;
	color: #ffdb1a;
	color: #ff6e00;
	color: #ffc300;
	color: #ffc61a;
	//mix-blend-mode: hard-light;
	-webkit-font-smoothing: antialiased;

	line-height: 1.5em;
	//background: #222;
	padding: .5em 0;
	//text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
	

	&:before{
		content: "";
		width: 100%;
		height: 25vh;
		min-height: 200%;
		bottom: 0;
		position: absolute;
		//@include scrimGradient(#000, 'to top');
		opacity: .5;
		transition: .3s opacity;
		/*
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		*/
		z-index: 0;
	}
	&:hover:before{
		opacity: .6;
	}

	a{
		display: block;
		padding: .5rem;
		white-space: nowrap;
		span {
			display: block;
		}
	}

	#logo{
		margin: 0 1rem;
		flex: 0 1 50%;
		position: relative;
	}
	#menu, #languages{
		position: relative;
		display: flex;
		flex: 0 1 100%;
		ul{
			display: flex;
			flex-direction: row;
			li{
				margin: 0 1rem;
				&.active{
					a{
						span{
							border-bottom: 1px solid;
						}
					}
				}
			}
			@media screen and (max-width: $break-medium){
				flex-direction: column;
				li{
					margin: 0;
					a {
						padding: 0;
					}
				}
			}

		}
	}
	#menu{
		justify-content: flex-start;
	}
	#languages{
		justify-content: flex-end;
	}
}


#bg-video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
}