@font-face {
  font-family: 'whoismono';
  src: url(../fonts/whois-mono/whois-mono.woff2) format("woff2"), url(../fonts/whois-mono/whois-mono.woff) format("woff"), url(../fonts/whois-mono/whois-mono.ttf) format("truetype"), url(../fonts/whois-mono/whois-mono.eot?#iefix) format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cmu-serif';
  src: url(../fonts/cmu-serif/roman/cmu-serif-roman.woff2) format("woff2"), url(../fonts/cmu-serif/roman/cmu-serif-roman.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cmu-serif';
  src: url(../fonts/cmu-serif/italic/cmu-serif-italic.woff2) format("woff2"), url(../fonts/cmu-serif/italic/cmu-serif-italic.woff) format("woff");
  font-weight: normal;
  font-style: italic; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Common layout tools and reusables
-------------------------------------------------- */
/*
 *
 * Common settings
 *
 * 1. Reset
 * 2. Layout elements
 * 3. Custom classes
 */
/* =======	1. Reset	======= */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none; }

html, body {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block; }

body > * {
  font-size: 18px;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalize margins */
  font-size: inherit;
  line-height: inherit;
  margin: 0; }

p {
  font-size: 1em;
  line-height: 1.25em; }

.text h1, .texte h1,
.text h2, .texte h2 {
  margin-bottom: 1.8rem; }

.text h3, .texte h3,
.text h4, .texte h4,
.text p,
.texte p {
  margin-bottom: 1em; }

.text.big,
.texte.big {
  font-family: "cmu-serif", "Times New Roman", serif;
  font-size: 1.8rem; }

h1 {
  font-size: 4.5rem;
  line-height: 1.25em;
  font-weight: normal; }

.block h1 {
  margin-bottom: .5em; }

h2 {
  font-size: 2.6rem;
  line-height: 1.62em;
  font-weight: normal; }

.block h2 {
  margin-bottom: 1rem; }

h3 {
  font-size: 1.8rem;
  line-height: 1.35em;
  font-weight: normal; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.6em;
  font-family: "whoismono", "courier", monospace;
  font-weight: normal; }

img {
  border-style: none;
  height: auto; }

.b-lazy {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 1; }

.b-lazy.b-loaded {
  opacity: 1; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #faffbd; }

figcaption {
  font-size: .75rem;
  line-height: 1.5rem; }

label {
  font-weight: normal; }

/* Links */
a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

p > a {
  border-bottom: 1px dotted; }
  p > a:hover {
    border-bottom: 1px solid; }

a:hover, a:focus, a:active {
  color: inherit; }

/* =======	2. Site Layout	======= */
body {
  color: #222;
  font-family: "whoismono", "courier", monospace;
  /* Neccessary for sticks footer. */
  position: relative;
  min-height: 100%;
  /* Prevent adjustments of font size after orientation
		 changes in IE and iOS. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Highlight color for WebKit-bases touch devices. */
  -webkit-tap-highlight-color: rgba(84, 176, 255, 0.5);
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw; }

@media all and (max-width: 30em) {
  body {
    /* We decrease the font-size a little-bit for tiny
			 screens. Because this stylesheet uses relative units
			 everywhere, everything scales nicely. */
    font-size: 1em; } }

/* ======= 3. Custom Classes ========= */
.centered {
  text-align: center; }

.hidden {
  display: none; }

main.main {
  padding: 0 1rem;
  margin-bottom: 1rem; }
  main.main img {
    max-width: 100%; }

/* clearfix */
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

/* Button */
.btn {
  font-family: "whoismono", "courier", monospace;
  border: none;
  font-size: 1.6rem;
  letter-spacing: .02em;
  padding: 0.8rem 1.2rem; }

label + .btn-group {
  display: -ms-flexbox;
  display: flex; }

.btn-group > .btn + .btn {
  border-left: 1px solid #ccc; }

/* Buttons */
.button-wrap {
  font-size: 0;
  margin: -.5rem -.4rem; }
  .button-wrap button {
    margin: .5rem .4rem; }

.button-wrap + .button-wrap {
  margin-top: .5rem; }

.input-group, .form-group {
  font-family: "whoismono", "courier", monospace;
  font-size: 1.6rem; }
  .input-group input, .form-group input {
    font-family: "whoismono", "courier", monospace;
    font-size: 1.6rem; }

.input-group-addon i.material-icons {
  line-height: 2rem; }

button, input, .button {
  font-family: "whoismono", "courier", monospace;
  line-height: 1em;
  font-size: 1.6rem; }

button:active {
  outline: none;
  background: #444;
  color: #c0c0c0; }

button:focus {
  outline: none; }

button.circle {
  padding: 0.5rem;
  border-radius: 50%;
  background: #666;
  color: #eee;
  opacity: .75;
  font-size: 2rem; }
  button.circle:hover {
    opacity: 1; }

button.small {
  font-size: 1.2rem;
  line-height: 1em;
  padding: 0.4rem 0.5rem;
  font-family: "whoismono", "courier", monospace; }

button.big {
  font-size: 2.6rem;
  font-family: "cmu-serif", "Times New Roman", serif; }

button i.material-icons {
  font-size: inherit; }

.button.circle {
  padding: 0.5rem;
  border-radius: 50%;
  background: #666;
  color: #eee;
  opacity: .75;
  font-size: 2rem; }
  .button.circle:hover {
    opacity: 1; }

.button i.material-icons {
  font-size: inherit; }

li.tab.active a {
  background-color: #c0c0c0; }

input:focus {
  outline: none; }

span.button-text {
  line-height: 2.6rem; }

button.small > span.button-text {
  padding: 0 0.25rem;
  line-height: 2.4rem; }

button.small > i.material-icons {
  font-size: 2.4rem; }

button,
input[type="submit"],
input[type="checkbox"] ~ label {
  padding: .8rem 1rem;
  cursor: pointer;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
  vertical-align: top; }

button {
  color: #222;
  background-color: #c0c0c0; }

button.enabled {
  color: #eee;
  background-color: #333; }

button:hover,
input[type="submit"]:hover,
input[type="checkbox"] + label:hover {
  opacity: .8; }

input[type="checkbox"] + label {
  display: block; }

button.active,
input[type="checkbox"]:checked + label {
  background: #47ea6d; }

label > i.material-icons,
label > i.material-icons + span,
button > i.material-icons,
button > i.material-icons + span {
  vertical-align: top; }

i.material-icons + span {
  margin-left: .3em; }

i.material-icons {
  vertical-align: top;
  font-size: 2.6rem;
  line-height: 1em; }

svg path.arrow {
  stroke: #000;
  stroke-width: 1px; }

.cross,
.cross-wrapper {
  width: 3em;
  height: 3em;
  background-color: transparent;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: #000;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 0;
  right: 0; }

.cross-wrapper > .cross {
  opacity: 1; }

.cross:hover,
.cross-wrapper:hover {
  opacity: .8; }

.cross-wrapper:hover > .cross {
  opacity: 1; }

.cross-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.cross:before, .cross:after {
  content: "";
  top: 1.5em;
  background: currentcolor;
  position: absolute;
  display: block;
  transform: rotate(45deg); }

.cross:before {
  width: 1.5em;
  height: 2px;
  left: 1.5em;
  margin-top: -1px;
  margin-left: -.75em; }

.cross:after {
  height: 1.5em;
  width: 2px;
  left: 1.5em;
  margin-left: -1px;
  margin-top: -.75em; }

button.cross:active {
  background: transparent;
  opacity: .5; }

.cross.small {
  top: -0.25em;
  right: -.25em; }

.cross.small:before {
  width: 1em;
  margin-left: -.5em; }

.cross.small:after {
  height: 1em;
  margin-top: -.5em; }

.cross.big {
  font-size: 1rem; }

.cross.big:before {
  width: 2em;
  margin-left: -1em; }

.cross.big:after {
  height: 2em;
  margin-top: -1em; }

/* Modal
-------------------------------------------------- */
/*
 *
 * Common settings
 *
 * 1. General
 * 2. Login
 */
/* =======	1. General	======= */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  overflow: hidden;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*
	@supports ( mix-blend-mode: screen ) {
		.pagination, .cross{
			color: #fff;
			mix-blend-mode: difference;
		}
	}
	*/ }
  .modal .modal-content {
    border: none;
    border-radius: 0;
    display: block;
    overflow-y: auto;
    height: 100vh; }
    .modal .modal-content h1, .modal .modal-content h2, .modal .modal-content h3 {
      font-family: "cmu-serif", "Times New Roman", serif;
      margin: 1rem 0 1.5rem; }
    .modal .modal-content h1 {
      font-size: 3rem; }
    .modal .modal-content.overview {
      padding: .5em; }
    .modal .modal-content figure.thumb {
      display: inline-block;
      max-width: 260px;
      vertical-align: middle;
      cursor: pointer; }
      .modal .modal-content figure.thumb img {
        width: 100%;
        height: auto; }
    .modal .modal-content article.thumb {
      display: inline-block;
      vertical-align: middle;
      max-width: 180px;
      background: #fff;
      cursor: pointer;
      font-size: 0.8rem;
      line-height: 1.3em;
      padding: 0.75rem;
      overflow: hidden;
      height: 250px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .modal .swiper-container {
    height: 100%; }
    .modal .swiper-container figure.swiper-slide {
      cursor: pointer; }
      .modal .swiper-container figure.swiper-slide img,
      .modal .swiper-container figure.swiper-slide iframe {
        max-height: 90%;
        max-width: 90%;
        max-height: calc(100% - 60px);
        max-width: calc(100% - 60px);
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto; }
    .modal .swiper-container article.swiper-slide .article-wrapper {
      overflow-y: auto;
      height: 100%; }
      .modal .swiper-container article.swiper-slide .article-wrapper .article-content {
        padding: 3rem;
        max-width: 55rem;
        margin: 2rem auto;
        background: #fff; }
        @media screen and (max-width: 640px) {
          .modal .swiper-container article.swiper-slide .article-wrapper .article-content {
            padding: 1rem; } }
  .modal .cross {
    z-index: 9;
    opacity: .5;
    margin: 6px; }
  .modal .header,
  .modal .pagination,
  .modal .caption {
    z-index: 9;
    position: absolute;
    padding: 1rem 1.2rem;
    line-height: 1.2em;
    font-family: "cmu-serif", "Times New Roman", serif;
    font-size: 1.8rem; }
  .modal .header {
    top: 0;
    left: 0; }
    .modal .header h2 {
      font-size: inherit; }
  .modal .pagination {
    bottom: 0;
    right: 0;
    left: auto;
    width: auto;
    margin-left: auto;
    padding-left: 1.2rem; }
  .modal .caption {
    bottom: 0;
    left: 0;
    max-width: calc(100% - 4em); }

/* Table
-------------------------------------------------- */
#header {
  position: relative;
  z-index: 10;
  width: 100%;
  margin-top: 0;
  text-align: center;
  vertical-align: top;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  color: #faa800;
  color: #ff7d00;
  color: #ffc000;
  color: #ffdb1a;
  color: #ff6e00;
  color: #ffc300;
  color: #ffc61a;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  padding: .5em 0; }
  #header:before {
    content: "";
    width: 100%;
    height: 25vh;
    min-height: 200%;
    bottom: 0;
    position: absolute;
    opacity: .5;
    transition: .3s opacity;
    /*
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		*/
    z-index: 0; }
  #header:hover:before {
    opacity: .6; }
  #header a {
    display: block;
    padding: .5rem;
    white-space: nowrap; }
    #header a span {
      display: block; }
  #header #logo {
    margin: 0 1rem;
    -ms-flex: 0 1 50%;
        flex: 0 1 50%;
    position: relative; }
  #header #menu, #header #languages {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 100%;
        flex: 0 1 100%; }
    #header #menu ul, #header #languages ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row; }
      #header #menu ul li, #header #languages ul li {
        margin: 0 1rem; }
        #header #menu ul li.active a span, #header #languages ul li.active a span {
          border-bottom: 1px solid; }
      @media screen and (max-width: 640px) {
        #header #menu ul, #header #languages ul {
          -ms-flex-direction: column;
              flex-direction: column; }
          #header #menu ul li, #header #languages ul li {
            margin: 0; }
            #header #menu ul li a, #header #languages ul li a {
              padding: 0; } }
  #header #menu {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  #header #languages {
    -ms-flex-pack: end;
        justify-content: flex-end; }

#bg-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed; }

body.modal-open {
  overflow: hidden; }
  body.modal-open > #header {
    -webkit-filter: blur(15px);
            filter: blur(15px); }
  body.modal-open > main.main {
    opacity: .8;
    -webkit-filter: blur(60px);
            filter: blur(60px); }

body .modal .blurable.modal-open {
  opacity: .7;
  -webkit-filter: blur(50px);
          filter: blur(50px); }

body .modal .blurable,
body > #header,
body > main.main {
  -webkit-filter: blur(0px);
          filter: blur(0px); }

body figure img {
  display: block; }

section.projects {
  text-align: center; }
  section.projects article.project {
    display: inline-block;
    position: relative; }
    section.projects article.project a.link {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      opacity: 1;
      transition: opacity .2s;
      white-space: nowrap;
      background-color: #fff; }
      section.projects article.project a.link:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
        margin-right: -0.5em; }
      section.projects article.project a.link .title {
        display: inline-block;
        white-space: initial;
        vertical-align: middle; }
    section.projects article.project:hover a.link {
      opacity: 0; }

.fadable {
  opacity: 1;
  transition: opacity .3s; }
  .fadable.faded {
    opacity: 0; }

html.no-cssfilters .modal,
html:not(.cssfilters) .modal {
  background-color: rgba(255, 255, 255, 0.75); }
