/*
 *
 * Common settings
 *
 * 1. Reset
 * 2. Layout elements
 * 3. Custom classes
 */

/* =======	1. Reset	======= */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	list-style: none;
}
html, body{
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
	/* Add correct display for IE 9- and some newer browsers */
	display: block;
}
body > * {
	font-size: 18px;
	-webkit-font-smoothing: antialiased;

}
h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
	/* Reset font-sizes and normalize margins */
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}
p{
	font-size: 1em;
	line-height: 1.25em;
}
.text h1, .texte h1,
.text h2, .texte h2{
	margin-bottom: 1.8rem;
}

.text h3, .texte h3,
.text h4, .texte h4,
.text p, 
.texte p{
	margin-bottom: 1em;
}
.text.big,
.texte.big{
	font-family: $font-serif; 
	font-size: 1.8rem;
}

h1 {
	font-size: 4.5rem;
	line-height: 1.25em;
	font-weight: normal;
}
.block h1{
	margin-bottom: .5em;
}
h2 {
	font-size: 2.6rem;
	line-height: 1.62em;
	font-weight: normal;
}
.block h2{
	margin-bottom: 1rem;
}
h3 {
	font-size: 1.8rem;
	line-height: 1.35em;
	font-weight: normal;
}
h4 {
	font-size: 1.6em;
}
h5{
	font-size: 1.6em;
	font-family: $font-sans; 	
	font-weight: normal;
}
img {
	border-style: none;
	height: auto;
}
.b-lazy {
		-webkit-transition: opacity 500ms ease-in-out;
			 -moz-transition: opacity 500ms ease-in-out;
				 -o-transition: opacity 500ms ease-in-out;
						transition: opacity 500ms ease-in-out;
						 max-width: 100%;
							 opacity: 1;
}
.b-lazy.b-loaded {
							 opacity: 1;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color:rgb(250, 255, 189); 
}
figcaption {
	font-size: .75rem;
	line-height: 1.5rem;
}
label {
	font-weight: normal;
}

/* Links */
a {
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
p > a{
	border-bottom: 1px dotted;
	&:hover{
		border-bottom: 1px solid; 
	}
}

a:hover, a:focus, a:active {
	color: inherit;
}

/* =======	2. Site Layout	======= */

body {
	color: #222;
	font-family: $font-sans;
	/* Neccessary for sticks footer. */
	position: relative;
	min-height: 100%;
	/* Prevent adjustments of font size after orientation
		 changes in IE and iOS. */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	/* Highlight color for WebKit-bases touch devices. */
	-webkit-tap-highlight-color: rgba(84, 176, 255, 0.5);
	height: 100%;
	height: 100vh;
	width: 100%;
	width: 100vw;

}
@media all and (max-width: 30em) {
	body {
		/* We decrease the font-size a little-bit for tiny
			 screens. Because this stylesheet uses relative units
			 everywhere, everything scales nicely. */
		font-size: 1em;
	}
}

/* ======= 3. Custom Classes ========= */

.centered{
	text-align: center;
}
.hidden{
	display: none;
}

main.main {
	padding: 0 1rem;
	margin-bottom: 1rem;
	img {
		max-width: 100%;
	}
}
/* clearfix */
.cf::after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
/* Button */
.btn{
	font-family: $font-sans;
	border: none;
	font-size: 1.6rem;
	letter-spacing: .02em;
	padding: 0.8rem 1.2rem;
}
label + .btn-group{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.btn-group>.btn + .btn {
	border-left: 1px solid #ccc;
}

/* Buttons */
.button-wrap{
	font-size: 0;
	margin: -.5rem -.4rem;
	button {
		margin: .5rem .4rem;
	}
}
.button-wrap + .button-wrap{
	margin-top: .5rem;
}

.input-group, .form-group{
	font-family: $font-sans;
	font-size: 1.6rem;
	input{
		font-family: $font-sans;
		font-size: 1.6rem;
	}
}
.input-group-addon i.material-icons{
	line-height: 2rem;
}
button, input, .button{
	font-family: $font-sans;
	line-height: 1em;
	font-size: 1.6rem;
}
button{
	&:active{
		outline: none;
		background: #444;
		color: #c0c0c0;
	}
	&:focus{
		outline: none;
	}
	&.circle{
		padding: 0.5rem;
			border-radius: 50%;
		background: #666;
		color: #eee;
		opacity: .75;
		font-size: 2rem;
		&:hover{
			opacity: 1;
		}
	}
	&.small{
		font-size: 1.2rem;
		line-height: 1em;
		padding: 0.4rem 0.5rem;
		font-family: $font-sans;
	}
	&.big{
		font-size: 2.6rem;
		font-family: $font-serif;
	}
	i.material-icons{
		font-size: inherit;
	}
}
.button.circle{
	padding: 0.5rem;
		border-radius: 50%;
	background: #666;
	color: #eee;
	opacity: .75;
	font-size: 2rem;
	&:hover{
		opacity: 1;
	}
}
.button{
	i.material-icons{
		font-size: inherit;
	}
}
li.tab.active a{
	background-color:#c0c0c0;
}
input:focus{
	outline: none;
}
span.button-text{
	line-height: 2.6rem;
}
button.small > span.button-text{
	padding: 0 0.25rem;
	line-height: 2.4rem;
}

button.small > i.material-icons{
	font-size: 2.4rem;
}
button,
input[type="submit"],
input[type="checkbox"] ~ label{
	padding:.8rem 1rem;	
	cursor: pointer;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
			-ms-flex-align: start;
					align-items: flex-start;
	text-align: center;
	vertical-align: top;
}
button{
	color: #222;
	background-color: #c0c0c0;
}
button.enabled{
	color: #eee;
	background-color: #333;	
}
button:hover,
input[type="submit"]:hover,
input[type="checkbox"] + label:hover{
	opacity: .8;
}
input[type="checkbox"] + label{ display: block; }

button.active,
input[type="checkbox"]:checked + label{
	background: #47ea6d;
}
label > i.material-icons,
label > i.material-icons + span,
button > i.material-icons,
button > i.material-icons + span{
	vertical-align: top;
}
i.material-icons + span{
	margin-left: .3em;
}
i.material-icons{
	vertical-align: top;
	font-size: 2.6rem;
	line-height: 1em;
}
svg path.arrow{
	stroke: #000;
	stroke-width: 1px;
}



.cross,
.cross-wrapper{
	width: 3em;
	height: 3em;
	background-color: transparent;
	padding: 0;
	font-size: 1em;
	text-align: center;
	color: #000;
	cursor: pointer;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
}
.cross-wrapper > .cross{
	opacity: 1;
}
.cross:hover,
.cross-wrapper:hover{
	opacity: .8;
}
.cross-wrapper:hover > .cross{
	opacity: 1;
}
.cross-wrapper:hover {
	background-color: rgba(0, 0, 0, .3)
}
.cross:before, .cross:after{
	content: "";
	top: 1.5em;
	background: currentcolor;
	position: absolute;
	display: block;
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg);
}
.cross:before{
	width: 1.5em;
	height: 2px;
	left: 1.5em;
	margin-top: -1px;
	margin-left: -.75em;
}
.cross:after{
	height: 1.5em;
	width: 2px;
	left: 1.5em;
	margin-left: -1px;
	margin-top: -.75em;
}
button.cross:active{
	background: transparent;
	opacity: .5;
}
.cross.small			{ top: -0.25em; right: -.25em; }
.cross.small:before { width: 1em; margin-left: -.5em}
.cross.small:after	{ height: 1em; margin-top: -.5em}

.cross.big{ font-size: 1rem; }
.cross.big:before	 { width: 2em; margin-left: -1em}
.cross.big:after 		{ height: 2em; margin-top: -1em}
