@font-face {
	font-family: 'whoismono';
	src: url(../fonts/whois-mono/whois-mono.woff2) format('woff2'),
		 url(../fonts/whois-mono/whois-mono.woff) format('woff'),
		 url(../fonts/whois-mono/whois-mono.ttf) format('truetype'),
		url(../fonts/whois-mono/whois-mono.eot?#iefix) format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'cmu-serif';
	src: url(../fonts/cmu-serif/roman/cmu-serif-roman.woff2) format('woff2'),
		 url(../fonts/cmu-serif/roman/cmu-serif-roman.woff) format('woff');	 
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'cmu-serif';
	src: url(../fonts/cmu-serif/italic/cmu-serif-italic.woff2) format('woff2'),
		 url(../fonts/cmu-serif/italic/cmu-serif-italic.woff) format('woff');	 
	font-weight: normal;
	font-style: italic;
}